{% extends '../../dashboard_base.html' %}
{% load static %}
{% block title %}
<title>Team Profile Change Password - Pyteam C</title>
{% endblock title %}

{% block sidebar_nav %} 
{% include "../../profile_settings_nav.html" %}
{% endblock sidebar_nav %} 

{% block body_content %}
<div class="content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 class="page-title">Change Password</h4>

            <div>
                {% for messages in messages %}
                <div class="alert alert-{{messages.tag}} alert-dismissible fade show" role="alert">
                    <strong>Dear User!</strong> {% if messages %} {{messages}} {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>



            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Old password</label>
                            <input type="password" class="form-control" name="current_password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" class="form-control" name="new_password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" class="form-control" name="re_new_password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center m-t-20">
                        <button type="submit" class="btn btn-primary submit-btn">Update Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body_content %}