<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
  
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>
  
      <div class="row mt-2">
  
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>{{team_setting_config.team_address}}, {{team_setting_config.team_address_upazila}}, {{team_setting_config.team_address_district}}</p>
          </div>
        </div>
  
        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>

            <div class="social-links">

              <a {% if team_social_profiles.twitter %} href="{{team_social_profiles.twitter}}" target="_blank" {% endif %} class="twitter">
                <i class="bi bi-twitter"></i>
              </a>
              <a {% if team_social_profiles.facebook %} href="{{team_social_profiles.facebook}}" target="_blank" {% endif %} class="facebook">
                <i class="bi bi-facebook"></i>
              </a>
              <a {% if team_social_profiles.instagram %} href="{{team_social_profiles.instagram}}" target="_blank" {% endif %} class="instagram">
                <i class="bi bi-instagram"></i>
              </a>
              <a {% if team_social_profiles.linkedin %} href="{{team_social_profiles.linkedin}}" target="_blank" {% endif %} target="_blank" class="linkedin">
                <i class="bi bi-linkedin"></i>
              </a>
              <a {% if team_social_profiles.website %} href="{{team_social_profiles.website}}"{% endif %} class="globe">
                <i class="bi bi-globe"></i>
              </a>

            </div>
          </div>
        </div>
  
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>{{team_setting_config.team_email}}</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>{{team_about_us.team_phone_number}}</p>
          </div>
        </div>
      </div>
  
      <form method="POST" role="form" class="php-email-form mt-4" action="{% url 'site_contact_mail' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="text-center mt-3"><button type="submit">Send Message</button></div>
      </form>
  
    </div>
  </section><!-- End Contact Section -->