{% load static %}
<!-- ======= Header ======= -->
<header id="header">
  <div class="container">

    <h1><a href="{% url 'home' %}">{{team_blog_slide.slide_title}}</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="{% url 'home' %}" class="mr-auto"><img src="{% static 'home/img/logo.png' %}" alt="" class="img-fluid"></a> -->
    <h2>We are passionate <span>{{team_blog_slide.title_second}}</span> from Dhaka, Bangladesh</h2>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="#header">Home</a></li>
        <li><a class="nav-link" href="#our_team">Our Team</a></li>
        <li><a class="nav-link" href="#about">About Us</a></li>
        <!-- <li><a class="nav-link" href="#resume">Resume</a></li> -->
        <!-- <li><a class="nav-link" href="#portfolio">Portfolio</a></li> -->
        <li><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <div class="social-links">

      <a {% if team_social_profiles.twitter %} href="{{team_social_profiles.twitter}}" target="_blank" {% endif %}
        class="twitter">
        <i class="bi bi-twitter"></i>
      </a>

      <a {% if team_social_profiles.facebook %} href="{{team_social_profiles.facebook}}" target="_blank" {% endif %}
        class="facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a {% if team_social_profiles.instagram %} href="{{team_social_profiles.instagram}}" target="_blank" {% endif %}
        class="instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a {% if team_social_profiles.linkedin %} href="{{team_social_profiles.linkedin}}" target="_blank" {% endif %}
        target="_blank" class="linkedin">
        <i class="bi bi-linkedin"></i>
      </a>
      <a {% if team_social_profiles.website %} href="{{team_social_profiles.website}}" {% endif %} class="globe">
        <i class="bi bi-globe"></i>
      </a>

    </div>

  </div>
</header>
<!-- End Header -->