{% extends '../../dashboard_base.html' %}
{% load static %}
{% block title %}
<title>Site Social Profile Link - Pyteam C</title>
{% endblock title %}

{% block sidebar_nav %} 
{% include "../../site_settings_nav.html" %}
{% endblock sidebar_nav %} 

{% block body_content %}

<div class="content">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="POST"> {% csrf_token %}
                <h3 class="page-title">Site Social Profile Link</h3> {% for messages in messages %} {% if messages %} <i>{{messages}}</i> {% endif %} {% endfor %}

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Website </label>
                            <input class="form-control" type="text" value="{% if team_social_profiles.website %}{{team_social_profiles.website}}{% endif %}" name="website" placeholder='yoursite.com'>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Facebook </label>
                            <input class="form-control" type="text" value="{% if team_social_profiles.facebook %}{{team_social_profiles.facebook}}{% endif %}" name="facebook" placeholder='facebook.com'>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Instagram </label>
                            <input class="form-control" type="text" value="{% if team_social_profiles.instagram %}{{team_social_profiles.instagram}}{% endif %}" name="instagram" placeholder='instagram.com'>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Twitter </label>
                            <input class="form-control" type="text" value="{% if team_social_profiles.twitter %}{{team_social_profiles.twitter}}{% endif %}" name="twitter" placeholder='twitter.com'>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Linkedin </label>
                            <input class="form-control" type="text" value="{% if team_social_profiles.linkedin %}{{team_social_profiles.linkedin}}{% endif %}" name="linkedin" placeholder='linkedin.com'>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Github </label>
                            <input class="form-control" type="text" value="{% if team_social_profiles.github %}{{team_social_profiles.github}}{% endif %}" name="github" placeholder='github.com'>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Youtube </label>
                            <input class="form-control" type="text" value="{% if team_social_profiles.youtube %}{{team_social_profiles.youtube}}{% endif %}" name="youtube" placeholder='youtube.com'>
                        </div>
                    </div>
                    
                </div>   
                

                <div class="row">
                    <div class="col-sm-12 text-center m-t-20">
                        <button type="submit" class="btn btn-primary submit-btn">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body_content %}