{% load static %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>

                    {% for portfolio_category in portfolio_category %}
                    <li data-filter=".filter-{{portfolio_category.id}}">{{portfolio_category.title}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            {% for portfolio in portfolio %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{portfolio.portfolio_category.id}}">
                <div class="portfolio-wrap">
                    <img src="{{portfolio.portfolio_image.url}}" class="img-fluid"
                        alt="">
                    <div class="portfolio-links">
                        <a href="{{portfolio.portfolio_image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{portfolio.title}}">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section><!-- End Portfolio Section -->