{% load static %}
<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
        </div>

        <div class="row skills-content">
            {% for my_skills in my_skills %}
            <div class="col-lg-6" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">{{my_skills.name}} <i class="val">
                        {% if my_skills.stage == 'Basic' %}{{is_basic}}%{% endif %}
                        {% if my_skills.stage == 'Medium' %}{{is_medium}}%{% endif %}
                        {% if my_skills.stage == 'Advanced' %}{{is_advanced}}%{% endif %}
                    </i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="
                        {% if my_skills.stage == 'Basic' %}{{is_basic}}{% endif %}{% if my_skills.stage == 'Medium' %}{{is_medium}}{% endif %}{% if my_skills.stage == 'Advanced' %}{{is_advanced}}{% endif %}" aria-valuemin="0"
                            aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End Skills Section -->